.aside {
    border-right: 1px solid #262626;
    display: flex;
    flex-direction: column;
    top: 0;
    position: sticky;
    height: 100vh; 
    /* height need so that the position sticky is effective */
    justify-content: space-between;
    min-width:15rem;
}

@font-face {
    font-family: 'Billabong';
    src: url('/public/font/Billabong.ttf') format('truetype');
  }

.title {
    font-family: 'Billabong', sans-serif; /* Use 'sans-serif' as a fallback */
    font-size: 2rem;
    padding-left: 1.5rem;
    /* margin-top: 10px; */

}

.asideBody{
    margin-top: -6rem;
    /* min-width:10rem; */
    margin-left: 1rem;
}

.asideItem{
    display: flex;
    align-items: center;
    /* margin-bottom: 0.15rem; */
    /* border: 1px solid white; */
    width: 11rem;
    padding-left: 0.7rem;
    padding-right: 2rem;
    margin-left: -0.4rem;
}

.asideItem:hover{
    background-color: #1a1a1a;
    border-radius: 0.5rem;
    /* cursor: pointer; */
}

.asideItem:hover .asideIcon {
    transform: scale(1.05);
    transition: transform 0.1s ease;
}

.asideIcon{
    margin-right: 1rem;
}

.asideIcon>i{
    font-size:1.4rem;
}

.asideFoot{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
    padding-left: 1rem;
}

.asideFootItem{
    display:flex;
    align-items: center;
    width: 11rem;
    padding-left: 0.7rem;
    padding-right: 2rem;
    margin-left: -0.4rem;
}


.asideFootItem:hover{
    background-color: #1a1a1a;
    border-radius: 0.5rem;
    /* cursor: pointer; */
}

.asideFootItem:hover .asideIcon {
    transform: scale(1.05);
    transition: transform 0.1s ease;
}


.asideUserImage{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}