.aside {
    border-right: 1px solid #262626;
    display: flex;
    flex-direction: column;
    top: 0;
    position: sticky;
    height: 100vh; 
    /* height need so that the position sticky is effective */
    justify-content: space-between;
    min-width:15rem;
}

.asideHead{
    margin-top:2rem;
}

@font-face {
    font-family: 'Billabong';
    src: url('/public/font/Billabong.ttf') format('truetype');
  }

.title {
    font-family: 'Billabong', sans-serif; /* Use 'sans-serif' as a fallback */
    font-size: 2rem;
    margin-left: 1.5rem;
    /* border:1px solid white; */
}

.asideBody{
    margin-top: -4rem;
    /* min-width:10rem; */
    margin-left: 1rem;
}

.asideItem{
    display: flex;
    align-items: center;
    /* margin-bottom: 0.15rem; */
    /* border: 1px solid white; */
    width: 11rem;
    padding-left: 0.7rem;
    padding-right: 2rem;
    margin-left: -0.2rem;
    margin-top: 0.1rem;
}

.asideItem:hover{
    background-color: #1a1a1a;
    border-radius: 0.5rem;
    cursor: pointer;
}

.asideItem:hover .asideIcon {
    transform: scale(1.05);
    transition: transform 0.1s ease;
}

.asideIcon{
    margin-right: 1rem;
}

.asideIcon>i{
    font-size:1.4rem;
}

.asideFoot{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
}

.asideFootItem{
    display:flex;
    align-items: center;
    width: 11rem;
    padding-left: 0.7rem;
    padding-right: 2rem;
    margin-left: -0.2rem;
}


.asideFootItem:hover{
    background-color: #1a1a1a;
    border-radius: 0.5rem;
    cursor: pointer;
}

.asideFootItem:hover .asideIcon {
    transform: scale(1.05);
    transition: transform 0.1s ease;
}


.asideUserImage{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.customDialog {
    position: fixed;
    top: 30rem;
    left: 9rem;
    transform: translate(-50%, -50%);
    background-color: #262626;
    /* border: 1px solid white; */
    border-radius: 1rem;
    color: #f5f5f5;
    height: 25rem;
    width: 16rem;
}

.moreDialog{
    width:100%;
    height: 100%;
    /* border: 1px solid yellow; */
}

.moreDialogUpper{
    /* border:1px solid blue; */
    height: 15.5rem;
    display:flex;
    flex-direction: column;
}

.horizontalline{
    width:100%;
    height: 0.3rem;
    background-color: #333333;
    border-color: #333333;
    border: none;
    margin: 0;
    margin-top: 1rem;
}

.dialogMenuItem{
    /* border:1px solid white; */
    /* padding-left: 1rem; */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.4rem;
    padding: 0.7rem 0.6rem;
}

.dialogMenuItem:hover{
    background-color: #3c3c3c;
    border-radius: 0.5rem;
    cursor: pointer;
}

.dialogMenuIcon{
    margin-right: 1rem;
}

.moreDialogLower{
    /* border: 1px solid red; */
    height: 7.5rem;
    display:flex;
    flex-direction: column;
}

.dialogMenuLowerItem{
    /* border:1px solid white; */
    /* padding-left: 1rem; */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.9rem;
    padding: 0.6rem;
}

.dialogMenuLowerItem:hover{
    background-color: #3c3c3c;
    border-radius: 0.5rem;
    cursor: pointer;
}

.lowerHorizontalline{
    border: 1px solid #353535;
    width:100%;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    /* border-color: #4f4e4e; */
}