.Story {
    display: flex;
    justify-content: center;
    /* border:1px solid white; */
    margin-top: 2rem;
}

.storyItem {
    padding-left: 10px;
}

.storyImage {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}