.suggestion {
    display: flex;
    flex-direction: column;
    margin-right: 7.5rem;
    margin-left: 1.6rem;
    /* border: 1px solid white; */
    /* max-width: 20rem; */
    min-width: 15rem;
    font-size: 0.9rem;
    /* border: 1px solid white; */
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userProfileMain{
    margin-top: 1.9rem;
    margin-bottom: 0.5rem;
}

.userProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userName{
    font-weight: 600;
}

.userName:hover{
    cursor: pointer;
}

.profileName{
    color: #A8A8A8;
}
.suggestionInfo{
    font-weight: bold;
}

.suggestionTitle{
    font-size: 0.9rem;
    color: #A8A8A8;
}

.suggestionSeeAll{
    font-size: 0.8rem;
    color: #F5F5F5;
}

.suggestionItems{
    margin-top: 0.2rem;
    margin-bottom: 0.7rem;
}

.suggestionUserImage {
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right:0.8rem;
}

.suggestionUserImage:hover{
    cursor: pointer;
}

.suggestionUserName{
    font-weight: 600;
}

.suggestionUserName:hover{
    cursor: pointer;
}

.followedBy{
    font-size: 0.8rem;
    color: #8b8b8b;
}

.follow,.switch{
    color: #0095f6;
    font-size: 0.8rem;
    font-weight: 500;
}


.suggestionsContent{
    justify-content: left;
    flex-wrap: wrap; 
    margin-top: 1.75rem;  
    color: #787878;
    margin-bottom: 0.7rem;
}

.suggestionsContentItems{
    display: flex;
    font-size: 0.77rem;
    cursor: pointer;
    /* border: 1px solid white; */
}

.suggestionsContentEach:hover{
    text-decoration: underline;
    cursor: pointer;
}

.dot{
    margin: -0.1rem 0.15rem 0rem 0.15rem;
}

.dot:hover{
   cursor: default;
}

.flexRow{
    display: flex;
    flex-direction: column;
    align-items: left;
    /* border: 1px solid white; */
    width: 12rem;
}

.followedBy{
    /* width: 100%; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tradeMark{
    color: #787878;
    font-size: 0.75rem;
}

.seeAll{
    cursor: pointer;
    color:#efefef
}

.seeAll:hover{
    color:#787878;
    cursor: pointer;
}

.switch,.follow{
    cursor: pointer;
}

.switch:hover{
    color: #daebf9;
    cursor: pointer;
}

.follow:hover{
    color: #daebf9;
    cursor: pointer;
}