.App{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  color: #F4F4F4;
  height: auto;
}

.Content{
  /* border: 1px solid white; */
  min-width: 50rem;
}